{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block title %}Sign in{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <div class="card">
                <div class="card-inner">
                    <h1>{% trans "Sign In" %}</h1>
                
                    <p>
                        {% blocktrans %}
                            If you have not created an account yet, then please
                            <a href="{{ signup_url }}">sign up</a> first.
                        {% endblocktrans %}
                    </p>
                    
                    <form class="login" method="POST" action="{% url 'account_login' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button class="btn" type="submit">{% trans "Sign In" %}</button>
                        <!-- <a class="btn" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a> -->
                    </form>
                </div>
                
            </div>
            
        </div>
    </div>
</div>



{% endblock %}