body {
    background-image: url(https://res.cloudinary.com/adamboley/image/upload/v1661792894/bg2_oq8m1s.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;   
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 100vh;
}

.navbar, .navbar-expand-lg {
    z-index: 1;
}

.username {
    margin-right: 2em;
}

.card-inner {
    margin: 2em;
    max-height: 80vh;
}

.card-inner-large {
    margin: 2em;
    overflow-y: auto;
    max-height: 80vh;
}

.votes-container {
    width: 200px;
}

.upvotes-container, .index-timestamp-container{
    float: left;
}

.downvotes-container, .index-votes-container {
    float: right;
}

.float-clear {
    clear: both;
}

.comments {
    padding: 10px;
}

.index-review-link {
    text-decoration: none;
    color: rgb(88, 88, 88);
}

.index-review-link:hover {
    color: rgb(37, 37, 37);
}

.index-image-container {
    height: 450px;
}

.index-image-container img {
    max-height: 400px;
    /* max-width: 420px; */
    border-radius: 2%;
}

.page-link {
    color: black;
}

.page-link:hover {
    color: black;
}

.meta-data-container {
    height: 1.5em;
}

/* Search results and user review style rules */
.search-result-card {
    padding: 1em;
}

.search-result {
    text-decoration: none;
    max-height: 250px;
    margin-bottom: 1em;
}

.search-results-name {
    text-decoration: underline;
}

.search-results-text, .search-results-votes {
    color: black;
}

.search-results-image {
    float: left;
    width: 25%;
}

.search-results-image img {
    width: 80%;
    max-height: 200px;
}

.search-results-info {
    float: right;
    width: 75%;
}