main {
    height: 100vh;
    background: url(../images/bg2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.username {
    margin-right: 2em;
}

.card-inner {
    margin: 2em;
    max-height: 80vh;
}

.card-inner-large {
    margin: 2em;
    overflow-y: auto;
    max-height: 80vh;
}

.votes-container {
    width: 200px;
}

.upvotes-container, .index-timestamp-container {
    float: left;
}

.downvotes-container, .index-votes-container {
    float: right;
}

.float-clear {
    clear: both;
}

.comments {
    padding: 10px;
}

.index-review-link {
    text-decoration: none;
    color: gray;
}

.index-review-link:hover {
    text-decoration: underline;
    color: gray;
}

.page-link {
    color: black;
}

.page-link:hover {
    color: black;
}