{% extends 'base.html' %}

{% block title %}Add Review{% endblock %}

{% block content %}

{% load cloudinary %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-inner-large">
                    <div class="card-body">
                        {% if reviewed %}
                            <div class="alert alert-success" role="alert">
                                <p>Your review has been submitted and is awaiting approval</p>
                                <p>Click <a href="{% url 'home' %}">here</a> to go back to the homepage</p>
                            </div>
                        {% else %}
                            {% if user.is_authenticated %}
                                <h3>
                                    Leave a beer review of your own
                                </h3>
                                <p>
                                    Posting as: {{ user.username }}
                                </p>
                                <form method="POST" style="margin-top: 1.3em;" enctype="multipart/form-data">
                                    {{ form.media }}
                                    <script>
                                        CKEDITOR.replace('editor1');
                                    </script>
                                    {{ form.as_p }}
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                                </form>
                            {% else %}
                                <div class="card-text">
                                    <p>You are logged out. Please <a href="{% url 'account_login' %}">login</a> to post a beer review</p>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>


{% endblock %}