{% extends 'base.html' %}

{% block content %}

{% load cloudinary %}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body">
                    {% if updated %}
                        <div class="alert alert-success" role="alert">
                            Your review has been updated and is awaiting re-approval
                            <a href="{% url 'home' %}">Go back to the home page</a>
                        </div>
                    {% else %}
                        {% if user.is_authenticated %}
                            {% if user.id == review.author.id %}
                                <h3>
                                    Delete {{ review.name }}
                                </h3>
                                <p>
                                    Deleting as: {{ user.username }}
                                    <!-- Probably best to delete this -->
                                </p>
                                <form method="POST" style="margin-top: 1.3em;">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-signup btn-lg">Delete</button>
                                </form>
                            {% else %}
                                <p>
                                    You are not the author of this post, so you may not delete it. Click <a href="{% url 'home' %}">here</a> to go back to the home page
                                </p>
                            {% endif %}
                        {% else %}
                            <div class="card-text">
                                <p>You are logged out. Please <a href="{% url 'account_login' %}">login</a> to delete your review</p>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}