{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for review in object_list %}
                    <div class="col-md-3">
                        <div class="card mb-4 card-hover">
                            <a href="{% url 'review' review.pk %}" class="post-link index-review-link">
                                <div class="card-body">
                                    <div class="image-container">
                                        {% if "placeholder" in review.image.url %}
                                            <img src="../static/images/bg1.jpg" alt="default image" class="card-img-top">
                                        {% else %}
                                            <img src="{{ review.image.url }}" alt="" class="card-img-top">
                                        {% endif %}
                                        <div class="image-flash">
                                            <p>Author: {{ review.author }}</p>
                                        </div>
                                    </div>
                                    <h2 class="card-title">{{ review.name }}</h2>
                                    <hr>
                                    <div class="card-text text-muted h6 meta-data-container">
                                        <div class="index-timestamp-container">
                                            {{ review.timestamp|date }}
                                        </div>
                                        <div class="index-votes-container">
                                            <i class="far fa-thumbs-up"></i>
                                            {{ review.review_upvotes }}
                                            <i class="far fa-thumbs-down"></i>
                                            {{ review.review_downvotes }}
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                {% if forloop.counter|divisibleby:4 %}
                </div>
                <div class="row">
                
                {% endif %}

                {% endfor %}
            </div>
        </div>
    </div>

    {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-centre">
                {% if page_obj.has_previous %}
                    <li>
                        <a href="?page={{ page_obj.previous_page_number }}" class="page-link">Previous</a>
                    </li>
                {% endif %}
                {% if page_obj.has_next %}
                    <li>
                        <a href="?page={{ page_obj.next_page_number }}" class="page-link">Next</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
</div>



{% endblock%}