{%  extends 'base.html' %}

{% block content %}



<div class="card" style="width: 500px;">
    <img src="{{ review.image.url }}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{ review.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ review.description }}</h6>
        <p>
            {{ review.author }}
        </p>
        <p>
            {{ review.created_on }}
        </p>
        <p class="card-text">
            {{ review.content |safe }}
        </p>
        <div>
            {% if user.is_authenticated %}
                <form action="{% url 'review_upvote' review.pk %}" method="POST">

                    {% csrf_token %}
                    
                    {% if upvoted %}
                        <button type="submit" name="review_id" value="{{ review.pk }}" class="">
                            <i class="fas fa-thumbs-up"></i>
                        </button>
                    {% else %}
                        <button type="submit" name="review_id" value="{{ review.pk }}" class="">
                            <i class="far fa-thumbs-up"></i>
                        </button>    

                    {%  endif %}
                </form>
            {% else %}
                <i class="far fa-thumbs-up"></i>

            {% endif %}

            <span>{{ review.review_upvotes }}</span>
        </div>
        <div>
            {% if user.is_authenticated %}
                <form action="{% url 'review_downvote' review.pk %}" method="POST">

                    {% csrf_token %}
                    
                    {% if downvoted %}
                        <button type="submit" name="beer_review_id" value="{{ review.pk }}" class="">
                            <i class="fas fa-thumbs-down"></i>
                        </button>
                    {% else %}
                        <button type="submit" name="beer_review_id" value="{{ review.pk }}" class="">
                            <i class="far fa-thumbs-down"></i>
                        </button>    

                    {%  endif %}
                </form>
            {% else %}
                <i class="far fa-thumbs-down"></i>

            {% endif %}

            <span>{{ review.review_downvotes }}</span>
        </div>

        <div>
            {% with comments.count as total_comments %}
                <strong class="text-secondary"><i class="far fa-comments"></i>
                    <!-- Our total_comments variable goes before the closing strong tag -->
                    {{ total_comments }}
                </strong>
            {% endwith %}
        </div>
        <div class="row">
            <div class="col-md-8 card mb-4  mt-3 ">
                <h3>Comments:</h3>
                <div class="card-body">
                    <!-- We want a for loop inside the tags to iterate through each comment in comments -->
                    {% for comment in comments %}
                        <div class="comments" style="padding: 10px;">
                            <p class="font-weight-bold">
                                <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
                                {{ comment.author }}
                                <span class=" text-muted font-weight-normal">
                                    <!-- The comment's created date goes here -->
                                    {{ comment.timestamp }}
                                </span>
                                wrote:
                            </p>
                            <!-- The body of the comment goes before the | -->
                            {{ comment.content | linebreaks }}
                        </div>
                        <!-- <div>
                            {% if user.is_authenticated %}
                            <form action="" method="POST">

                                {% csrf_token %}
                                
                                {% if upvoted %}
                                    <button type="submit" name="comment_id" value="{{ comment.review }}" class="">
                                        <i class="fas fa-thumbs-up"></i>
                                    </button>
                                {% else %}
                                    <button type="submit" name="comment_id" value="{{ comment.review }}" class="">
                                        <i class="far fa-thumbs-up"></i>
                                    </button>    
            
                                {%  endif %}
                            </form>
                            {% else %}
                            <i class="far fa-thumbs-up"></i>
                            {% endif %}
                            <span>{{ comment.comment_upvotes }}</span>
                        </div>
                        <div>
                            {% if user.is_authenticated %}
                            <form action="" method="POST">

                                {% csrf_token %}
                                
                                {% if upvoted %}
                                    <button type="submit" name="comment_id" value="{{ comment.review }}" class="">
                                        <i class="fas fa-thumbs-down"></i>
                                    </button>
                                {% else %}
                                    <button type="submit" name="comment_id" value="{{ comment.review }}" class="">
                                        <i class="far fa-thumbs-down"></i>
                                    </button>    
            
                                {%  endif %}
                            </form>
                            {% else %}
                            <i class="far fa-thumbs-up"></i>
                            {% endif %}
                            <span>{{ comment.comment_downvotes }}</span>
                        </div> -->
                    <!-- Our for loop ends here -->
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4 card mb-4  mt-3 ">
                <div class="card-body">
                    {% if commented %}
                    <div class="alert alert-success" role="alert">
                        Your comment has been submitted and is awaiting approval
                    </div>
                    {% else %}
                        {% if user.is_authenticated %}
                            <h3>
                                Leave a comment:
                            </h3>
                            <p>
                                Posting as: {{ user.username }}
                            </p>
                            <form method="POST" style="margin-top: 1.3em;">
                                {{ comment_form.media }}
                                {{ comment_form.as_p }}
                                {% csrf_token %}
                                <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                            </form>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <a href="{% url 'home' %}">Back</a>
            </div>
            <div class="card">
                <a href="{% url 'update_review' review.pk %}">Edit</a>
            </div>
            <div class="card">
                <a href="{% url 'delete_review' review.pk %}">Delete</a>
            </div>
        </div>
    </div>
</div>

{%  endblock %}