{%  extends 'base.html' %}

{% block title %}{{ review.name }}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-inner-large">
                    <div class="row">
                        <div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-4 offset-lg-4">
                            {% if "placeholder" in review.image.url %}
                                <img src="https://res.cloudinary.com/adamboley/image/upload/v1661792893/bg3_zfwcad.webp" alt="image of 2 pints of beer" aria-labelledby="image of 2 pints of beer" class="card-img-top">
                            {% else %}
                                <img src="{{ review.image.url }}" alt="an image of {{ review.name }} beer" aria-labelledby="an image of {{ review.name }} beer" class="card-img-top">
                            {% endif %}
                        </div>
                    </div>
                    
                    <div class="card-body">
                        <h4 class="card-title">{{ review.name }}</h4>
                        <h6 class="card-subtitle mb-3">{{ review.description }}</h6>
                        <h6 class="card-subtitle mb-3">
                            {% if review.served_as == 1 %}
                                Bottled
                            {% else %}
                                Draught
                            {% endif %}
                        </h6>
                        <h6 class="card-subtitle mb-3">Review by: {{ review.author }} on {{ review.timestamp|date }}</h6>
                        <h6 class="card-subtitle mb-3">{{ review.short_description }}</h6>
                        <h6 class="card-subtitle mb-3">Aroma: {{ review.aroma }}</h6>
                        <h6 class="card-subtitle mb-3">Appearance: {{ review.appearance }}</h6>
                        <h6 class="card-subtitle mb-3">Taste: {{ review.taste }}</h6>
                        <h6 class="card-subtitle mb-3">Aftertaste: {{ review.aftertaste }}</h6>
                        <h6 class="card-subtitle mb-3">Average score: {{ review.average_score }}</h6>
                        
                        <div class="card-text">
                            <h5>Review</h5>
                            {{ review.content |safe }}
                        </div>
                        <div class="votes-container">
                            <div class="upvotes-container">
                                {% if user.is_authenticated %}
                                    <form action="{% url 'review_upvote' review.pk %}" method="POST">

                                        {% csrf_token %}
                                        
                                        {% if upvoted %}
                                            <button type="submit" name="review_id" value="{{ review.pk }}" class="btn">
                                                <i class="fas fa-thumbs-up"></i>
                                            </button>
                                            <strong><span>{{ review.review_upvotes }}</span></strong>
                                        {% else %}
                                            <button type="submit" name="review_id" value="{{ review.pk }}" class="btn">
                                                <i class="far fa-thumbs-up"></i>
                                            </button>
                                            <strong><span>{{ review.review_upvotes }}</span></strong>
                                        {%  endif %}
                                    </form>
                                {% else %}
                                    <i class="far fa-thumbs-up"></i>
                                    <strong><span>{{ review.review_upvotes }}</span></strong>
                                {% endif %}
                            </div>

                            <div class="downvotes-container">
                                {% if user.is_authenticated %}
                                    <form action="{% url 'review_downvote' review.pk %}" method="POST">

                                        {% csrf_token %}
                                        
                                        {% if downvoted %}
                                            <button type="submit" name="beer_review_id" value="{{ review.pk }}" class="btn">
                                                <i class="fas fa-thumbs-down"></i>
                                            </button>
                                            <strong><span>{{ review.review_downvotes }}</span></strong>
                                        {% else %}
                                            <button type="submit" name="beer_review_id" value="{{ review.pk }}" class="btn">
                                                <i class="far fa-thumbs-down"></i>
                                            </button>
                                            <strong><span>{{ review.review_downvotes }}</span></strong>
                                        {%  endif %}
                                    </form>
                                {% else %}
                                    <i class="far fa-thumbs-down"></i>
                                    <strong><span>{{ review.review_downvotes }}</span></strong>
                                {% endif %}
                            </div>
                        </div>
                        
                        <div class="float-clear"></div>

                        <div class="row">
                            <div class="col card mb-4 mt-3">
                                <h4>Comments:</h4>
                                <div class="card-body">
                                    {% for comment in comments %}
                                        <div class="comments">
                                            <p class="font-weight-bold mb-0">{{ comment.author }}:</p>
                                                
                                            {{ comment.content| safe }}
                                            
                                            <p class="text-muted font-weight-normal">{{ comment.timestamp|date }}</p>
                                        </div>
                                    {% empty %}
                                        <div>
                                            No comments have been posted yet
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>    
                        <div class="row">
                            <div class="col mb-4 mt-3 ">
                                {% if commented %}
                                <div class="alert alert-success" role="alert">
                                    Your comment has been submitted and is awaiting approval
                                </div>
                                {% else %}
                                    {% if user.is_authenticated %}
                                        <h3>
                                            Leave a comment:
                                        </h3>
                                        <p>
                                            Posting as: {{ user.username }}
                                        </p>
                                        <form method="POST" style="margin-top: 1.3em;">
                                            {{ comment_form.media }}
                                            {{ comment_form.as_p }}
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                                        </form>
                                    {% else %}
                                        <p>Want to post a comment of your own? Sign in <a href="{% url 'account_login' %}">here</a></p>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            {% if user.is_authenticated %}
                                {% if user.id == review.author.id %}
                                    <div>
                                        This is your beer review, so you may update or delete it using the buttons below
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="row">
                            <div>
                                <a class="btn" href="{% url 'home' %}">Back</a>
                                {% if user.is_authenticated %}
                                    {% if user.id == review.author.id %}
                                        <a class="btn" href="{% url 'update_review' review.pk %}">Edit</a>
                                        <a class="btn" href="{% url 'delete_review' review.pk %}">Delete</a>
                                    {% endif %}
                                {% endif %}    
                            </div>
                        </div>
                    </div>
                </div>     
            </div>
        </div>
    </div>
</div>

{%  endblock %}