{% extends 'base.html' %}

{% block title %}My Reviews{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-inner-large pb-2">
                    <h3>My reviews:</h3>

                    {% if all_reviews_awaiting_approval %}
                        <div class="card">
                            <div class="card-inner">
                                <p class="text-center">You have written some reviews, but they are all awaiting approval</p>
                            </div>
                        </div>
                    
                    {% elif one_review_awaiting_approval %}
                        <div class="card">
                            <div class="card-inner">
                                <p class="text-center">You have written a review, but it is awaiting approval</p>
                            </div>
                        </div>
                        
                    {% elif no_reviews_awaiting_approval %}

                        {% if some_reviews_awaiting_approval %}
                            <div class="card">
                                <div class="card-inner">
                                    <p class="text-center">You have written some reviews. The approved ones are below. The rest are awaiting approval</p>
                                </div>
                            </div>
                            
                        {% endif %}

                        {% for review in object_list %}
                            <div class="card search-result-card">
                                <a href="{% url 'review' review.pk %}" class="post-link search-result">
                                    <div class="row">
                                        <div class="search-results-image d-none d-sm-inline col-5 col-lg-5 col-xl-4">
                                            {% if "placeholder" in review.image.url %}
                                                <img src="https://res.cloudinary.com/adamboley/image/upload/v1661792893/bg3_zfwcad.webp">
                                            {% else %}
                                                <img src="{{ review.image.url }}" alt="">
                                            {% endif %}
                                        </div>
                                        <div class="search-results-info col-7 col-lg-7 col-xl-4">
                                            <h4 class="search-results-name">{{ review.name }}</h4>
                                            <div class="search-results-text">
                                                <div class="d-block mt-2">
                                                    <span>{{ review.timestamp|date }}</span>
                                                </div>
                                                <div class="d-block mt-2">
                                                    <span class="me-5">Colour: {{ review.colour }}</span>
                                                    
                                                </div>
                                                <div class="d-block mt-2">
                                                    <span>Type: {{ review.type }}</span>
                                                </div>
                                                <div class="d-block mt-2">
                                                    <span class="me-5">Alc {{ review.alcohol }}% vol</span>
                                                </div>
                                                <div class="d-block mt-2">
                                                    <span>
                                                        {% if review.served_as == 1 %}
                                                            Bottled
                                                        {% else %}
                                                            Draught
                                                        {% endif %}
                                                    </span>
                                                </div>
                                                <div class="d-block mt-2">
                                                    <span>Brewery: {{ review.brewery }}</span>
                                                </div>
                                                <div class="d-block mt-2">
                                                    <span>Described as: {{ review.keywords }}</span>
                                                </div>
                                                <div class="d-block mt-2">
                                                    <span class="me-5">
                                                        <span class="me-4">
                                                            <i class="far fa-thumbs-up"></i>
                                                            {{ review.review_upvotes }}
                                                        </span>
                                                        <span>
                                                            <i class="far fa-thumbs-down"></i>
                                                        {{ review.review_downvotes }}
                                                        </span>
                                                    </span>
                                                    <span>Score: {{ review.average_score }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% empty %}
                            <div class="card">
                                <div class="card-inner">
                                    <p>You have not written any reviews</p>
                                    <p>Click <a href="{% url 'add_review' %}">here</a> to write one</p>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}