{% extends 'base.html' %}

{% block title %}My Reviews{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-inner-large">
                    <h3>My reviews:</h3>
                    {% for review in object_list %}
                        <div class="card">
                            <div class="card-inner">
                                <a href="{% url 'review' review.pk %}" class="post-link">
                                    <h4>{{ review.name }}</h4>
                                </a>
                                <p>By: {{ review.author }}</p>
                            </div>
                        </div>
                    {% empty %}
                        <div class="card">
                            <div class="card-inner">
                                <p>You have not written any reviews</p>
                                <p>Click <a href="{% url 'add_review' %}">here</a> to write one</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}