{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body">
                    {% if reviewed %}
                        <div class="alert alert-success" role="alert">
                            Your review has been submitted and is awaiting approval
                            <a href="{% url 'home' %}">Go back to the home page</a>
                        </div>
                    {% else %}
                        {% if user.is_authenticated %}
                            <h3>
                                Leave a beer review of your own
                            </h3>
                            <p>
                                Posting as: {{ user.username }}
                            </p>
                            <form method="POST" style="margin-top: 1.3em;">
                                {{ user_review_form.media }}
                                {{ user_review_form.as_p }}
                                {% csrf_token %}
                                <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                            </form>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}